* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 400px;
}

img {
    width: 100%;
    background: #020202;
    animation: fade 15s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

footer {
    text-align: center;
    margin: 0 auto;
}