@media screen and (min-width: 500px) {
    header{
        background-color: black;
        color: white;
        text-align: center;
    }

    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}